body {
  color: #FFFFFF;
  font-family: 'Amatic SC', cursive;
  background-color: #2980b9;
}

/***
Alert
***/
#alert {
  z-index: 1;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px;
  margin: 200px auto;
  width: 260px;
  height: 150px;
  background-color: red;
  border-radius: 4px;
  text-align: center;
  background-color: #2980b9;
}

#alert h4 {
  margin-bottom: 25px;
}

.btn {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}


/***
***/

.game {
  display: flex;
  margin: auto;
  max-width: 350px;
}

header h1 {
  font-size: 80px;
  margin-top: 30px;
}

.game__svg {
  width: 50px;
}

.game__IA, .game__P1 {
  display: none;
  width: 70px;
  margin: auto;
}

#game__info {
  margin-top: 60px;
}

#game__match {
  display: none;
}


/***
game view -> P1 vs IA
game result -> Win or Lose => new game ?
game choice -> Rock - Paper - Scissor
***/
#game__view {
  width: 100%;
  height: 150px;
  margin-top: 5vh;
  margin-bottom: 20px;
  background-color: rgba(22, 22, 22, .7);
}

#game__result {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background-color: rgba(22, 22, 22, .7);
}

#game__choice {
  width: 100%;
  height: 100px;
  background-color: rgba(22, 22, 22, .7);
}

#game__choice, #game__result, #game__view {
  border-radius: 4px;
}

/***
game view -> P1 vs IA
***/
#P1, #IA {
  height: 150px;
  padding-top: 5px;
}

#P1 {
  border-right: solid 1px #fff;
}

/***
game result -> Win or Lose => new game ?
***/
#result {
  margin-top: 25px;
  margin-bottom: 10px;
}

#score p {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

/***
game choice -> Rock - Paper - Scissor
***/
#rock-col, #paper-col, #scissor-col {
  cursor: pointer;
  height: 100px;
  padding-top: 5px;
}

#rock-col {
  padding-right: 0px;
}

#paper-col {
  padding: 5px 0px;
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
}

#scissor-col {
  padding-left: 0px;
}
